.content {
	display: block;
	margin: 0 auto;
	text-align: center;
}

img {
	display: block;
	margin: 0 auto;
	width: 200px;
	height: 300px;
}

.bookDiv {
	display: flex;
	flex-direction: column;
}

.bookDiv:hover {
	cursor: pointer;
	border: 2px solid lightblue;
	border-radius: 25px;
	box-shadow: rgba(0, 0, 0, 0.3);
}

.center {
	text-align: center;
}

@media (max-width: 768px) {
	img {
		display: block;
		margin: 0 auto;
		width: 140px;
		height: 210px;
	}
}
