.btn {
	text-align: center;
	vertical-align: middle;
	padding: 0.57em 0.57em;
	cursor: pointer;
}

.btn-header:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.cart-column {
	display: flex;
	align-items: center;
	border-bottom: 1px solid black;
	margin-right: 1.5em;
	padding-bottom: 10px;
	margin-top: 10px;
}

.cart-row {
	display: flex;
}

.cart-item {
	width: 45%;
}

.cart-price {
	width: 20%;
	font-size: 1.2em;
	color: #333;
}

.cart-quantity {
	width: 35%;
}

.cart-item-title {
	color: #333;
	margin-left: 0.5em;
	font-size: 1.2em;
}

.cart-item-image {
	width: 75px;
	height: auto;
	border-radius: 10px;
}

.btn-danger {
	color: white;
	background-color: #eb5757;
	border: none;
	border-radius: 0.3em;
	font-weight: bold;
}

.btn-danger:hover {
	background-color: #cc4c4c;
}

.cart-quantity-input {
	height: 34px;
	width: 50px;
	border-radius: 5px;
	border: 1px solid #777;
	background-color: #eee;
	color: #333;
	padding: 0;
	text-align: center;
	font-size: 1.2em;
	margin-right: 25px;
}

.cart-row:last-child {
	border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
	border: none;
}

@media (max-width: 768px) {
	.cart-item-title {
		font-size: 16px;
	}

	.cart-price {
		margin: 0 auto;
	}

	.cart-quantity {
		margin: 0 auto;
		width: 100%;
		justify-content: center;
	}

	.cart-item {
		width: 100%;
	}
	.cart-row {
		display: block;
	}
}
