{
	"singleQuote": true,
	"printWidth": 80,
	"editor.formatOnSave": true,
	"proseWrap": "always",
	"tabWidth": 3,
	"requireConfig": false,
	"useTabs": true,
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"semi": true,
	"trailingComma": "none",
	"overrides": [
		{
			"files": "**/lwc/**/*.html",
			"options": { "parser": "lwc" }
		},
		{
			"files": "*.{cmp,page,component}",
			"options": { "parser": "html" }
		}
	]
}
