/*@import url('https://fonts.googleapis.com/css?family=Varela+Round');*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
	letter-spacing: 1.1px;
}

body,
html {
	background: none;
	font-family: 'Varela Round', sans-serif;
}

.hamburger {
	display: none;
}

.cross {
	display: none;
}

.menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	max-width: 1600px;
	margin: 0 auto;
	height: 12vh;
	list-style: none;
}

.menu li {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	align-content: center;
	width: 125px;
	height: 50px;
	transition: background-position-x 0.9s linear;
	text-align: center;
}

.menu li a {
	font-size: 20px;
	color: #777;
	text-decoration: none;
	transition: all 0.45s;
}

.menu li:hover {
	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==');
	animation: line 1s;
}

.menu li:hover a {
	color: #d94f5c;
}

.menu li:not(:last-child) {
	margin-right: 30px;
}

.menu .shopping-card {
	align-items: flex-end;
}

.menu .cart {
	/*align-items: flex-end;*/
	text-align: right;
}

@keyframes line {
	0% {
		background-position-x: 390px;
	}
}

.image {
	height: 68px;
	width: 132.48px;
	margin-right: 50px;
}

.cart-icon {
	height: 24px;
	margin-right: 7px;
}

.name {
	font-size: 18px !important;
}

/*Small devices (do 768px)*/
@media (max-width: 768px) {
	header {
		width: 100%;
		background: #ffffff;
		height: 60px;
		line-height: 60px;
		border-bottom: 1px solid #dddddd;
	}

	.menu-wrap {
		position: relative;
		top: -310px;
		left: 0;
		height: 43vh;
		justify-content: center;
		display: none;
	}

	.active {
		top: 0;
		transition: all 1s ease-in;
	}

	.menu {
		width: 100%;
		height: 44vh;
		flex-direction: column;
		justify-content: center;
	}

	.hamburger {
		display: block;
		cursor: pointer;
		height: 32px;
	}

	.cross {
		display: none;
		cursor: pointer;
		height: 32px;
	}

	.image {
		display: none;
	}

	.cart {
		margin-right: 2.3rem;
	}

	@keyframes line {
		0% {
			background-position-x: 390px;
		}
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
